*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.imgback{
    opacity: 0.4;
    position: absolute;
    top: 0;
    display: none;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
}
.container{
    width: 44%;
    height: 59%;
    border-radius: 0.5rem;
    overflow: hidden;   
}
.intro__info{
    height: 46%;
    padding: 40px;
    background-color: white;
}
.main__tittle{
    font-size: 1.45rem;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
}
.second__tittle{
    padding-top: 25px;
    font-size: 1.15rem;
    font-weight: 400;
    color: hsl(71, 73%, 54%);
}
.main__info{
    padding-top: 12px;
    line-height: 25px;
    color: hsl(218, 22%, 67%);
}

.join__info{
    display: flex;
    width: 100%;
}
.subscription__info{
    width: 50%;
    padding: 40px;
    background-color: hsl(179, 62%, 43%);
}
.subscription__tittle{
    color: hsla(204, 43%, 93%,0.9);
    font-size: 1.1rem;
    font-weight: 700;
}
.price__month{
    padding-top: 15px;
    font-weight: 700;
    color: hsla(204, 43%, 93%,0.5);
}
.number__price{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.access__info{
    color: hsla(204, 43%, 93%,0.9);
    padding-top: 10px;
    font-size: 0.98rem;
}

.singup__button{
    cursor: pointer;
    margin-top: 29px;
    width: 100%;
    height: 50px;
    border-radius: 0.5rem;
    font-size: 0.98rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(204, 43%, 93%);
    background-color: hsl(71, 73%, 54%);
}
.whyus{
    width: 50%;
    padding: 40px;  
    background-color: hsla(179, 62%, 43%,0.8);  
}
.whyus__tittle{
    color: hsla(204, 43%, 93%,0.9);
    padding-bottom: 18px;
    font-weight: 700;
}
.why__info{
    color: hsla(204, 43%, 93%,0.6);
    font-size: 0.9rem;
    line-height: 20px;
}

footer{
    position: absolute;
    bottom: 0;
}

@media (max-width: 600px){
    .container{
        width: 84%;
        height: 83%; 
    }
    .intro__info{
        height: 37%;
        padding-left: 1.5rem;
        padding-top: 1.7rem;
    }
    .main__tittle{font-size: 1.23rem;}
    .second__tittle{
        padding-top: 25px;
        font-size: 0.97rem;}
    .main__info{
        font-size: 0.82rem;
        padding-top: 20px;
        line-height: 25px;
    }
    .join__info{
        display: flex;
        flex-direction: column;
        height: 100%;
        
    }
    .subscription__info{
        padding-left: 1.54rem;
        padding-top: 1.5rem;
        padding-right: 1.8rem;
        width: 100%;
        height: 32%;
    }    
    .whyus{
        width: 100%;
        padding-left: 1.54rem;
        padding-top: 1.45rem;
    }
    .whyus__tittle{
        color: hsla(204, 43%, 93%,0.9);
        padding-bottom: 18px;
        font-weight: 700;
    }
    .why__info{
        color: hsla(204, 43%, 93%,0.6);
        font-size: 0.9rem;
        line-height: 20px;
    }

}